/* Custom styles for the garage app */
.signin-signout {
  padding: 0 55px;
}

.signin-signout a {
  color: #fff;
}

/* Placeholder style */
input::placeholder,
textarea::placeholder {
  font-weight: 400;
  opacity: 0.3;
  color: #000;
  font-style: italic;
}

/* Header */
.main-header {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 5px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.navigation :hover {
  color: #E60D09;
  text-decoration: underline 2px;
}

/* Admin pages */
.admin-left-side {
  background-color: #222b48;
}

.admin-right-side {
  background: rgb(246 247 250);
  border-bottom: 1px solid #dfe2ec;
}

.admin-menu {
  background: #1e2331;
  padding: 10px 20px;
}

.admin-left-side .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #3c404c;
  border-color: #3c404c;
  border-bottom: 1px solid #616675;
}

.admin-menu h2 {
  font-size: 21px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(249, 249, 249);
  display: block;
  text-decoration: none;
}

.admin-left-side.col-md-3 {
  padding: 0;
}

.admin-left-side .list-group-item {
  background-color: #222b48;
  border-bottom: 1px solid #616675;
  margin-bottom: 0px;
  color: #fff;
}

.admin-left-side a {
  color: #a2a5ad;
}

.admin-left-side a:hover {
  color: #fff;
}

.validation-error {
  color: red;
  float: right;
  font-style: italic;
}

select.custom-select-box {
  border-right: 25px solid #dddddd;
}

.edit-delete-icons a {
  color: #0a1436;
  padding: 0 10px;
}

input:disabled {
  background-color: #ecedef !important;
}

.checkbox-in-form .form-check-label {
  padding-left: 15px;
  font-size: 1.3em;
  font-weight: 300;
  vertical-align: super;
}

.checkbox-in-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.form-bold-header {
  font-weight: 600;
  font-size: 1.5em;
}

/* Pagination */
.pagination-wrapper {
  margin-top: 30px;
}

.page-link {
  padding: 0.5rem 1.75rem;
  color: #fff;
  background-color: #222b48;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #ffffff;
  background-color: #ee0c0a;
}

.page-link span {
  padding: 0 5px;
}

/* Search */
.search-box {
  margin-bottom: 20px;
}

.search-box input {
  padding: 30px;
}

/* Table style */
.table a {
  color: #0a1436;
  font-weight: 600;
}

/* Customer page */
.history-block .text span {
  font-weight: 600;
  color: #000821;
}

/* Vehicles */
.external-container {
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact-section .external-container .contact-title h2 {
  font-size: 30px;
}

.external-container .contact-form .theme-btn span {
  color: #fff;
}

.form-close {
  color: red;
  font-size: 1.5em;
  margin-bottom: -3px;
  text-align: end;
  cursor: pointer;
}

.internal-form-wrapper {
  width: 80%;
}

.vehicles-wrapper {
  padding: 0px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.inner-padding {
  padding: 20px;
}

/* Services */
.services-wrapper {
  margin-bottom: 20px;
}

.service-item {
  background: #fff;
  padding: 20px 20px 5px;
  margin-bottom: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-item .edit-delete {
  float: right;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.service-item .edit-delete span {
  padding: 15px;
}

.service-item h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/* Order page */
.faq-section.order-page .sear-form {
  position: relative;
  margin-bottom: 0px;
}

.order-page .search-box {
  margin-bottom: 0px;
}

.filter-customers-wrapper {
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #ced4da;
  border-top: 0;
}

.selected-customer {
  padding: 20px;
  background: #fff;
  border: 1px solid #ced4da;
  border-top: 0;
  margin-bottom: 20px;
}

.selected-customer h3 {
  font-weight: 600;
}

.vehicles-to-choose {
  margin-top: 40px;
}

.service-item.checkbox-holder {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
}

.checkbox-holder input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.theme-btn a {
  color: #fff;
}

.no-customer {
  margin-top: 20px;
}

.selected-customer .sec-title {
  margin-bottom: 25px;
}

.selected-customer .form-close {
  float: right;
}

.selected-customer .text span {
  color: #000821;
}

.service-block-one .text span {
  color: #000821;
}

.contact-form input[type="number"] {
  display: block;
  width: 100%;
  line-height: 28px;
  height: 56px;
  font-size: 16px;
  padding: 10px 22px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #dddddd;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.single-order .service-block-one h2 {
  margin-bottom: 20px;
}

.order-status {
  float: right;
}

.order-status span {
  padding: 10px 25px;
  font-size: 1.2em;
  font-weight: 400;
}

.change-status {
  cursor: pointer;
}

.white_home {
  color: white;
  margin-right: 5px;
}

.home :hover {
  color: red;
}

.white_aboutUs {
  color: white;
  margin-left: 5px;
}

.white_aboutUs :hover {
  color: red;
}

.contact_padding {
  padding: 0 90px;
}

.red-icon {
  color: red;
  margin-right: 12px;
}

.contact-item {
  margin-bottom: 20px;
}

.contact-item h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.contact-item p {
  margin-left: 28px;
  font-size: 16px;
}

/* footer list */
.list li:hover {
  color: #E60D09;
  text-decoration: underline 0.1px;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
}

.employee-info,
.deleted-info {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.delete-button {
  display: block;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

/* Button styles */
.btn-container {
  gap: 25px;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.confirm-button:hover {
  background-color: #ff1a1a;
}

.cancel-button:hover {
  background-color: #999;
}

/* h1,
h2 {
  text-align: center;
  color: #333;
} */

.employee-info,
.deleted-info {
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f1f1f1;
  /* Change background color */
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  /* background-color: #ffcccb; */
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f44336;
  color: white;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table tr:hover {
  background-color: #ddd;
}

/* Buttons */
.delete-button,
.cancel-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

.cancel-button:hover {
  background-color: #999;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
}

.confirm-button:hover {
  background-color: #ff1a1a;
}

.delete-employee {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Base styling for the contact section */
.contact-section {
  padding: 30px 0;
  background-color: #f9f9f9;
}

.contact-title h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Styling for the form container */
.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for form groups */
.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling for error messages */
.validation-error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 0.875rem;
}

/* Styling for success messages */
.success-message {
  color: #5bc0de;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  padding: 10px;
  margin-top: 35px;
  border-radius: 4px;
  font-size: 0.975rem;
}

/* Button styling */
button.theme-btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.theme-btn:hover {
  background-color: #0056b3;
}


/* NotFound.css */
.not-found {
  text-align: center;
  padding: 100px;
  background-color: #f4f4f4;
}

.not-found h1 {
  font-size: 100px;
  margin: 0;
  color: #333;
}

.not-found h2 {
  font-size: 24px;
  margin: 0;
  color: #666;
}

.not-found p {
  font-size: 16px;
  color: #999;
}

.not-found a {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.not-found a:hover {
  text-decoration: underline;
}

.form-group ::placeholder {
  padding: 10px;
}

.form-group input {
  padding: 20px;
}

.btn-primary {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-year input {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.vehicle-form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Optional shadow for focused input */
}

.form-group input {
  width: 100%;
}

.contact-customer {
  margin-left: 7vw;

}

.add_vehicle_btn:hover {
  background-color: #0056b3 !important;
}