/* General styles */
body {
  font-family: Arial, sans-serif;
}

/* h1,
h2 {
  text-align: center;
  color: #333;
} */

.employee-info,
.deleted-info {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.delete-button {
  display: block;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

/* Button styles */
.btn-container {
  gap: 25px;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.confirm-button:hover {
  background-color: #ff1a1a;
}

.cancel-button:hover {
  background-color: #999;
}

/* h1,
h2 {
  text-align: center;
  color: #333;
} */

.employee-info,
.deleted-info {
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f1f1f1;
  /* Change background color */
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  /* background-color: #ffcccb; */
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f44336;
  color: white;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table tr:hover {
  background-color: #ddd;
}

/* Buttons */
.delete-button,
.cancel-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

.cancel-button:hover {
  background-color: #999;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
}

.confirm-button:hover {
  background-color: #ff1a1a;
}

.delete-employee {
  display: flex;
  justify-content: center;
  align-items: center;
}