.customerUpdateContainer {
  background-color: #f8f9fa; 
  padding-left: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
   padding-bottom: 30px;

}

h2 {
  color: #003d66; 
}
h4{
  padding-top: 20px;
  font-weight: bold;
 
}

.formGroup {
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.errorMessage {
  margin-top: 1rem;
  color: red;
}

.formActions {
  margin-top: 1rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.updateButton {
  background-color: #ff0000; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  background-color: #bdb8b8de; 
   color:#000000;
  cursor: not-allowed;
    border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
} 